.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* NAVBAR & BODY STYLING */

.navbar {
  background-color: rgb(105, 0, 0);
  /* border-style: solid; */
  border-width: 2px;
  /* border-color: firebrick; */
  border-top: none;
  margin-top: none;
  position: fixed;
  top: 0;
  width: 100vw;
  /* padding-bottom: 50px; */
}

.navbarButton {
  margin-top: none;
  margin: 1.5em;
  padding: 30px;
  size: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
}
a {
  color: rgb(241, 206, 161);
  text-shadow: 1px 1px 5px black;
  font-size: 4.5em;
}

a:hover {
  color: tan;
  
}

a:link {
  text-decoration: none;
}

a:active {
  color: firebrick;
}

.homePage {
  color:rgb(241, 206, 161);
  font-size: large;
  margin-top: 200px;
}

body {
  background-color: maroon;
  /* margin-top: 100px; */
  position:relative;
  /* top: 30px; */
  
}

/* MOVIE PAGE AND POSTER STYLING */

.movieTitle {
  color: rgb(241, 206, 161);
  text-shadow: 1px 1px 5px black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.genreAndRuntime {
  color: rgb(241, 206, 161);
  text-shadow: 1px 1px 5px black;
}

.moviePoster {
  border-radius: 10px;
  max-height: 350px;
  max-width: 300px;
}

.movieContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 75px;
  
}

.movieCard {
  padding: 0.5em;
  margin: 1em;
  /* border: solid green; */
  border-radius: 10px;
  display: inline-block;
}

.movieCard:hover {
  text-decoration: underline dotted rgb(235, 207, 171);
}

/* THEATER PAGE */

.theaterContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .theaterName {
    color: rgb(241, 206, 161);
    text-shadow: 1px 1px 5px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 55px;
    font-size: 3.5em;
}

.theaterMovieCard {
  /* border: solid green; */
  margin: 5px;
  padding: 20px;
}

.theaterAddress {
  color: rgb(241, 206, 161);
    text-shadow: 1px 1px 5px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Homepage */

.argLogo {
  color: rgb(241, 206, 161);
    text-shadow: 1px 1px 5px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 7em;
}

.argTagline {
color: rgb(241, 206, 161);
  text-shadow: 1px 1px 5px black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 3.5em;
  font-style: italic;
}

/* SELECTED MOVIE */

.selectedMovieContainer {
  justify-content: center;
  display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
  padding-top: 100px;
  border-style: solid yellow;
  max-width: auto;
  align-items: center;
}

.selectedMovieTitle {
  padding-top: 50px;
  color: rgb(241, 206, 161);
    text-shadow: 1px 1px 5px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 6em;
}

.selectedMovieDetail {
  color: rgb(241, 206, 161);
    text-shadow: 1px 1px 5px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    /* border-style: solid; */
    /* border-color: firebrick; */
    border-radius: 10px;
    padding: 40px;
    margin: 5px;
}

.selectedMoviePoster {
  max-width: 500px;
  border-radius: 10px;
}

.movieDetailcontainer {
  display: flex;
}